<h1>Stupid Coaching</h1>
<div id="question">
<p><%= @question %></p>
<h2><em>-You</em></h2>
</div>

<div id="answer">
<p><%= @answer %></p>
<h2><em>-Your coach</em></h2>
</div>

<%= link_to "Go back", ask_path %>
